.best__container {
	@include adaptiv-value('padding-top', 225, 50, 0);
	@include adaptiv-value('padding-bottom', 120, 30, 0);

	.best_header {
		display: flex;
		justify-content: space-between;

		.best_header_content {
			.best_header_content_title {
				color: #000;
				font-family: 'Manrope', sans-serif;
				font-size: 40px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				padding-bottom: 15px;
			}

			.best_header_content_text {
				color: #000;
				font-family: 'Manrope', sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				max-width: 470px;
				/* 150% */
			}
		}

		.best_header_button_wrapper {
			padding-top: 22px;

			.best_header_button {
				padding: 22px 34px;
				border-radius: 5px;
				background: #F85A47;
				box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(248, 90, 71, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(248, 90, 71, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
				color: #FFF;
				text-align: center;
				font-family: 'Manrope', sans-serif;
				font-size: 17px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			.best_header_button:hover {
				background: #f76f60;
			}

		}
	}

	@media (max-width:768px) {
		.best_header {
			flex-wrap: wrap;

			.best_header_button_wrapper {
				margin-top: 15px;
			}
		}
	}

	.best_tabs_wrapper {


		.best_tab_menu {
			padding-top: 50px;
			margin-bottom: 50px;

			.best_tab_list {
				display: flex;
				@include adaptiv-value('gap', 50, 15, 0);

				.best_tab_item {

					.best_tab_link {
						color: #000;
						font-family: 'Manrope', sans-serif;
						@include adaptiv-value('font-size', 19, 17, 0);
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						padding-bottom: 10px;
					}

					.stl {
						color: #F85A47;
						font-weight: 600;
						border-bottom: 2px solid #F85A47;
					}

					.best_tab_link:focus {
						color: #F85A47;
						font-weight: 600;
						border-bottom: 2px solid #F85A47;
					}
				}
			}

			@media (max-width:768px) {
				.best_tab_list {
					flex-wrap: wrap;
					justify-content: center;
				}
			}
		}

		.best_tab_content_wrapper {
			display: flex;
			@include adaptiv-value('gap', 30, 10, 0);
			display: none;

			.best_tab_content_item {
				max-height: 300px;
				max-width: 370px;
				position: relative;

				.best_tab_content_img {
					border-radius: 5px;
					max-width: 100%;
					height: 100%;
					width: 100%;
				}

				.best_tab_content_featured {
					position: absolute;
					left: 14px;
					top: 14px;
					display: flex;
					gap: 5px;

					.best_tab_featured {
						border-radius: 5px;
						border: 1px solid #FFF;
						background: rgba(0, 0, 0, 0.40);
						color: #FFF;
						font-family: 'Inter', sans-serif;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						padding: 6px 12px;
					}

					.best_tab_3d {
						border-radius: 5px;
						border: 1px solid #FFF;
						background: rgba(0, 0, 0, 0.40);
						color: #FFF;
						font-family: 'Inter', sans-serif;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						padding: 6px;
					}
				}
			}
		}

		.best_tab_content_wrapper[tab-block="active"] {
			display: flex;

		}

		@media (max-width:768px) {
			.best_tab_content_wrapper {
				flex-direction: column;
				align-items: center;
			}
		}
	}


}