.footer {
	padding-right: 15px;
	padding-left: 15px;

	.footer_container {
		max-width: 890px;
		border-top: 1px solid #DEDFE1;
		margin: 0px auto;

		.footer_wrapper {
			display: flex;
			align-items: center;
			@include adaptiv-value('padding-top', 60, 20, 0);
			justify-content: space-between;
			gap: 20px;

			.footer_logo {
				color: #31353B;
				font-family: 'Manrope', sans-serif;
				font-size: 23px;
				font-style: normal;
				font-weight: 800;
				line-height: normal;
			}

			.footer_menu {

				.footer_menu_list {
					display: flex;
					@include adaptiv-value('gap', 46, 16, 0);
					flex-wrap: wrap;

					.footer_menu_item {
						.footer_menu_link {
							color: #31353B;
							font-family: 'DM Sans', serif;
							font-size: 13px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}

						.footer_menu_link:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}



		.footer_copyright {
			color: #31353B;
			font-family: 'DM Sans', serif;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: center;
			@include adaptiv-value('padding-top', 70, 40, 0);
			@include adaptiv-value('padding-bottom', 36, 16, 0);
		}


	}

}